.list{
    min-height: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.bar{
    min-height: 6vh;
    width: 100%;
}

.bar:hover{
    opacity: 50%;
}

.icon{
    width: 15%;
    margin-right: 5%;
}