.icon{
    position: absolute;
    width: 1.8%;
}

.Bank0{
    top:13%;
    left:35%;
}

.Bank1{
    top:13%;
    left:35%;
}

.Bank2{
    top:13%;
    left:35%;
}

.Bank3{
    top:13%;
    left:35%;
}